<!DOCTYPE html>
<html lang="es">
<head>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            font-family: sans-serif;
            font-size: 12px;
        }
        th, td {
            border: 1px solid black;
            padding: 0 8px;
        }

        .producto {
            font-variant:small-caps;
        }
    </style>
    <title>Listados de pedidos</title>
</head>
<body>
<table>
    <tr>
        <th>Etiqueta</th>
        <th>Nombre</th>
        <th>Encargo</th>
    </tr>
    <tr>
        <td>12</td>
        <td>Juan Alberto Sánchez Contador</td>
        <td class="producto">Bocadillo de salchicha (con kétchup)</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Margarita Juárez de la Cuadra León Bravío</td>
        <td class="producto">Bocadillo de tortilla (con mayonesa) <br/> Macedonia de frutas</td>
    </tr>
</table>
</body>
</html>
