<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Encargos</title>
</head>

<body>
    <div layout:fragment="content" class="container">
        <div class="row justify-content-center">
            <p class="display-3 text-center text-secondary mt-4">No hay encargos</p>
            <p class="text-center text-primary fs-4 mt-4">Usa <i class="bi bi-fork-knife text-success"></i> en la barra superior para encargar algo.</p>
        </div>
    </div>
</body>

</html>